
include::{partialsdir}/entities.adoc[]

= Self-Contained Changes

A self-contained change is a change to isolated package(s), or a general change with limited scope and impact on the rest of the distribution/project.
Examples include addition of a group of leaf packages, or a coordinated effort within a Special Interest Group (SIG) with limited impact outside the SIG’s functional area.

{% for change in changes %}
== {{ change['title'] }}

{{ change['release_notes'] }}

__Read {{ change['url'] }}[more information] about this change.__

{% endfor %}
